<div *ngIf="!loading && !saving && hero" class="hero-detail-wrapper">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <button type="button" (click)="goBack()">Go Back</button>
  <button type="button" (click)="save()" [disabled]="saveDisabled">Save</button>
</div>

<div *ngIf="!loading && !saving && !hero" class="hero-detail-wrapper">
  <h2>No any hero with the specified parameters was found!</h2>
</div>

<div *ngIf="loading" class="mat-spinner-container">
  <mat-spinner style="width: 50px; height: 50px;"/>
  <div class="spinner-text">Hero is loading...</div>
</div>

<div *ngIf="saving" class="mat-spinner-container">
  <mat-spinner style="width: 50px; height: 50px;"/>
  <div class="spinner-text">Saving hero...</div>
</div>
